/*------Menu--------------------------------------*/
/*------1. Basic----------------------------------*/
/*------2. Header---------------------------------*/
/*------  2.1 Basic-------------------------------*/
/*------  2.2 Icon--------------------------------*/
/*------  2.3 Contact List------------------------*/
/*------3. Content--------------------------------*/
/*------	3.1 Primary Content-------------------*/
/*------		3.1.1 Left Page-------------------*/
/*------		    3.1.1.1 Basic-----------------*/
/*------		    3.1.1.2 Note Details----------*/
/*------		    3.1.1.3 Calendar--------------*/
/*------		    3.1.1.4 Feathers--------------*/
/*------		        3.1.1.4.1 MusicModal------*/
/*------		3.1.2 Right Page------------------*/
/*------		    3.1.2.1 Basic-----------------*/
/*------		    3.1.2.2 Todo List-------------*/
/*------		    3.1.2.3 News Seciton----------*/
/*------4. Footer---------------------------------*/
/*------5. Modal----------------------------------*/
/*------6. media----------------------------------*/



/*------1. Basic------*/
header,
nav ul {
	display: flex;
}

body {
	background: url('../images/background.jpg');
  /*background:url('http://www.cssdeck.com/uploads/media/items/0/0Rs78ic.gif');*/
}

.horiHr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));       
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

input {
	border-radius: 5px;
}

/*------2. Header------*/
/*------  2.1 Basic------*/
header,
header nav ul {
	flex-wrap: wrap;
}

header {
	align-content: space-between;
	flex-wrap: wrap;
	text-align: center;
}

h1 {
	text-align: center;
	margin: 10px 10px; 
	background: #00d185;
	color: #E9EDC0;
	border-radius: 3px;
	box-shadow: 0 10px 6px -6px #777;
	flex-basis: 150px;
}

header h3 {
	flex-grow: 1;
	background-color: #00d185;
	border-radius: 5px;
	color: white;
	box-shadow: 0 10px 6px -6px #777;
}

nav {
	flex-grow: 2;
	margin-top: auto;
}

nav ul {
	padding: 0;
	margin: 0px 0px 16px 0px;
	}

nav ul li {
	margin: 10px 0px 0px 16px;
	padding: 5px 10px;
	list-style-type: none;
	background-color: #00b5d1;
	border-radius: 5px;
	align-self:baseline;
	font-size: 1.4em;
	box-shadow: 0 10px 6px -6px #777;
	transition: .5s;
	flex-grow: 1;
	flex-wrap: wrap;
	position: relative;
	overflow: hidden;
	flex-basis: 5em;
	color: white;
	cursor: pointer;
}

nav ul li a {
	text-decoration:none;
	color: white;
}

.select {
	max-height: 5em;
}

/*------  2.2 Icon------*/
nav ul li:before {
	content:url("../icons/iconArrow.png");
	position: absolute;
	left: -26%;
}

nav ul li:hover {
	transform: scale(1.1);
	box-shadow: 0 2px 12px -10px #777;
	flex-grow: 1.2;
}

nav ul li:hover:before {
	left: 6%;
	transition: .5s;
}

/*------  2.4 Contact List------------------------*/
#contactHome {
	margin-left: 10px;
}

#contactDetails {
	margin: 10px;
}

#contactDetails input {
	margin-bottom: 5px;
}

#contactDetails .cssFlex {
	margin: 10px 0px;
}

#contactDetails textarea {
	resize: none;
    height: 5em;
    width: 100%;
    border-radius: 5px;
}

/*------3. Content------*/
.myNotebook {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	flex-flow: row wrap;
}
/*------	3.1 Primary Content------*/
.rightPage,
.leftPage {
	width: 450px;
	background-image: url("../images/bookBackground.jpg");
	background-size: 100%;
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
	overflow: hidden;
	position: relative;
	transition: .5s;
	flex-basis: 30em;
}

.cssFlex {
	display: flex;
}

.cssFlex a{
	margin-right: 20px;
	margin-left: 20px;
	text-decoration: none;
	text-align: center;
	background-color: #00b5d1;
	border-radius: 3px;
	align-self: baseline;
	box-shadow: 0 10px 6px -6px #777;
	transition: .5s;
	flex-grow: 1;
	flex-wrap: wrap;
	flex-basis: 5em;
	color: white;
	height: 1.3em;
}

.cssFlex a:hover {
	box-shadow: 0 2px 12px -10px #777;
	flex-grow: 2;
}

/*------		3.1.1 Left Page------*/
/*------		    3.1.1.1 Basic------*/
.leftPage {
	margin-left: 10px;
	padding-right: 10px;
}

.rightPage {
	margin-right: 10px;
	padding-left: 10px;
}

/*------		    3.1.1.2 Note Details------*/
.leftPage .noteDetails {
	height: 24.8em;
	margin: 10px;
	transition: 1s;
	transform: translateX(-110%);
	position: absolute;
}

.leftPage textarea {
	resize: none;
	height: 18.4em;
	width: 100%;
	border-radius: 5px;
}

/*------		    3.1.1.3 Calendar------*/
.leftPage .calendarSection {
	height: 24em;
	margin: 10px;
	transition: 1s;
	display: flex;
	flex-wrap: wrap;
}

#calendar-container {
	margin: 10px;
	padding: 15px 15px 22px 15px;
	text-align: center;
	width: 198px;
	height: 175px;
	border-radius: 10px;
	background-color: #99E8A8;	
	box-shadow: 0 10px 6px -6px #777,
				inset 0px 0px 25px 2px rgba(49,72,99,1);
	overflow: hidden;
}

#calendar-header {
	margin-bottom: 10px;
}

#calendar-header img {
	width: 10px;
	margin: 0px 5px;
	cursor: pointer;
	transition: .5s;
	border-radius: 50%;
}

#calendar-header img:first-child {
	transform: rotateZ(180deg);
}

#calendar-dates table td {
	width: 10%;
	text-align: center;
	transition: .5s;
	cursor: pointer;
	border-radius: 50%;
	background-color: #99E8A8;
	overflow: hidden;
}

#calendar-dates table td:hover {
	transform: scale(1.4);
}

#oneDate {
	height: 182px;
	width: 160px;
	margin: 10px;
	border-radius: 10px;
	overflow: hidden;
	font-family: "Comic Sans MS", cursive, sans-serif;
	box-shadow: 0 10px 6px -6px #777;
	border-style: solid;
	border-color: red;
	border-width: 1px;
}

#oneDateUpside {
	background-color: red;
}

#oneDateDownside {
	background-color: #F6F7E4;
	height: 138px;
}

#oneDateHeader {
	height: .5em;
	text-align: center;
}

#oneDateHeader img {
	transform: rotateZ(30deg) translateX(5px);
}

#oneDateMonth {
	height: 2em;
	text-align: center;
	margin-top: 5px;
}

#oneDateDay {
	height: 5.7em;
	text-align: center;
}

#oneDateDay label {
	font-size: 3.5em;
}

#oneDateMark {
	display: flex;
}

#oneDateMark a {
	height: 50%;
	flex-grow: 1;
	margin: 0px 5px;
	transition: .5s;
	cursor: pointer;
}

#oneDateMark a:hover {
	flex-grow: 2;
	transform: scale(1.2);
}

#oneDateMark #red {
	background-color: red;
}

#oneDateMark #blue {
	background-color: #00b5d1;
}

#oneDateMark #yellow {
	background-color: #EBF056;
}

#oneDateMark #green {
	background-color: #99E8A8;
}
/*------		    3.1.1.4 Music Player------*/
#musicPlayer {
	height: 140px;
	width: 100%;
	margin: 0px 10px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 10px 6px -6px #777;
}

#musicPlayer .musicUpside {
	height: 76px;
	box-shadow: inset 0px 0px 25px 2px rgba(49,72,99,1);
	text-shadow: 5px 5px 5px #000000;
}

#musicPlayer .musicMiddleBar {
	display: flex;
}

#musicPlayer .musicMiddleBar label {
	width: 38px;
	margin-left: 5px;
	height: 8px;
	transform: translateY(-18px);
}

#musicPlayer .musicDownside {
	height: 70px;
	background-color: white;
	display: flex;
}

#musicPlayer .musicDisplay {
	display: flex;
}

#musicPlayer .musicDisplay p {
	flex-grow: 2;
	width: 100px;
	margin: 15px 5px 5px 25px;
}

#musicPlayer .musicVoice {
	flex-grow: 1;
	margin: 15px;
}

#musicPlayer .musicVoiceActions {
	float: right;
}

#musicPlayer .musicVoiceActions img {
	background-color: #00b5d1;
	overflow: hidden;
	border-radius: 50%;
	padding: 5px;
	box-shadow: inset 0px 0px 25px -5px rgba(255,255,255,1),
				0 10px 6px -6px #777;
	cursor: pointer;
	transition: .5s;
	margin-right: 5px;
}

#musicPlayer .musicVoiceActions img:hover {
	transform: scale(1.2);
	box-shadow: inset 0px 0px 25px -5px rgba(255,255,255,1),
				0 10px 6px -3px #777;
}

#musicPlayer .seekBase {
	width: 78%;
	background-color: #8E9A9E;
	overflow: hidden;
	border-radius: 5px;
	transform: translateY(-8px);
	height: .5em;
}

#musicPlayer .seekLoad {
	height: .5em;
	background-color: #00b5d1;
	box-shadow: inset 0px 0px 25px -5px rgba(255,255,255,1);
}

#musicPlayer .musicDownside div {
	margin: 15px 10px;
	background-color: #00b5d1;
	border-radius: 5px;
	flex-grow: 1;
	text-align: center;
	box-shadow: 0 10px 6px -6px #777;
	transition: .5s;
	height: 30px;
}

#musicPlayer .musicDownside div:hover {
	flex-grow: 2;
	box-shadow: 0 2px 12px -10px #777;
}

#musicPlayer .musicDownside img {
	transform: translateY(3px);
	cursor: pointer;
}

#musicPlayer .musicPushed {
	border-width: 1px;
	border-color: yellow;
	border-style: solid;
}

/*------		    3.1.1.4 Feathers------*/
.furtherFeathers {
	margin: 0 20px 20px 20px;
}

.furtherFeathers img {
	background-color: #00b5d1;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	box-shadow: 0 10px 6px -6px #777;
	transition: .5s;
	cursor: pointer;
}

.furtherFeathers img:hover {
	transform: scale(1.2);
	box-shadow: 0 2px 12px -10px #777;
	flex-grow: 2;
}

/*------		        3.1.1.4.1 MusicModal------*/
#musicModal {
	margin: 5px 35px;
}

#musicModal li {
	margin-bottom: 5px;
}


/*------		3.1.2 Right Page------*/
/*------		    3.1.2.1 Basic------*/
/*------		    3.1.2.2 Todo List------*/
.todoList {
	height: 22em;
	transition: 1s;
	margin-top: 20px;
}

.addTask {
	padding: 5px 10px;
	background-color: orange;
	border-radius: 5px;
	box-shadow: 0 10px 6px -6px #777;
	transition: .3s;
	color: white;
	cursor: pointer;
	text-decoration: none;
}

#addTask:hover {
	box-shadow: 0 2px 12px -10px #777;
}

.nextPage {
	transform: translateY(50px);
	margin-right: 15px;
}

.noteTitle {
	height: 3em;
}

.noteTitle .horiHr {
	transform: translateY(-20px);
}

.completedTodo {
	color: #a7b9c4;
	text-decoration:line-through;
}

.noteTitle .noteInput {
	margin-left: 35px;
	font-size: 1.3em;
	transform: translateY(-10px);
}

.noteTitle .noteInput label {
	cursor: pointer;
}

.noteTitle .noteActions {
	transform: translateX(380px) translateY(-15px);
	width: 300px;
	transition: 1s;
	opacity: 0;
	display: flex;
}

.noteTitle:hover .noteActions {
	transform: translateX(150px) translateY(-15px);
	opacity: 0.8;
}

.noteTitle:hover .noteInput {
	transform: translateY(-15px) translateX(-25px) scale(.8);
	transition: .5s;
}

.noteTitle .noteActions a{
	margin-right: 10px;
	text-decoration: none;
	text-align: center;
	background-color: #00b5d1;
	border-radius: 3px;
	align-self: baseline;
	box-shadow: 0 10px 6px -6px #777;
	transition: .5s;
	flex-grow: 1;
	flex-wrap: wrap;
	flex-basis: 5em;
	color: white;
}

.noteTitle .noteActions a:hover {
	box-shadow: 0 2px 12px -10px #777;
	flex-grow: 4;
}

.noteTitle input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
  cursor: pointer;
  transform: translateY(15px);
}

.pagination {
		display: flex;
}

.pagination li {
	list-style: none;
	flex-wrap: wrap;
	flex-basis: 5em;
	align-self: baseline;
	margin-right: 20px;
	margin-left: 20px;
	width: 50%;
	transition: .5s;
	padding: 3px;
	text-align: center;
	background-color: #00b5d1;
	border-radius: 3px;
	box-shadow: 0 10px 6px -6px #777;
	height: 1.3em;
	flex-grow: 1;
}

.pagination a {
	text-decoration: none;
	color: white;
}

.pagination li:hover {
	box-shadow: 0 2px 12px -10px #777;
	flex-grow: 2;
}

#noNotesDay {
	width: 100%;
	text-align: center;
}

#noNotesDay img {
	width: 95%;
	border-radius: 10px;
	box-shadow: 0 10px 6px -6px #777;
}

#noNotesDay label {
	font-size: 1.5em;
	background-color: #00b5d1;
	padding: 5px 15px;
	border-radius: 5px;
	color: white;
}

#noNotesDay div {
	transform:rotateX(180deg);
	transition: 1s;
	opacity: 0;
}

#noNotesDay:hover div {
	transform:rotateX(0deg) translateY(-40px);
	opacity: .8;
}

/*------		    3.1.2.3 News Seciton------*/
.newsSection {
	height: 14em;
	width: 98%;
}

/*------4. Footer------*/


/*------5. Modal----------------------------------*/
#modalsContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	background-color: gray;
	opacity: 0;
	transition: .1s;
	z-index: -10;
}

.modalContainer {
	position: absolute;
	top: 20%;
	left: 30%;
	width: 40%;
	background-color: #E3E6A1;
	opacity: 0;
	box-shadow: 0 10px 6px -6px #777;
	border-radius: 10px;
	transition: 1s;
	transform: scale(.01);
}



/*------6. media------*/
@media screen and (max-width: 965px) {

}

/*@media screen and (max-width: 2000px) {
	#col-first {
  	flex-direction: column;
	}
}*/